<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>INSERT</display-name>
    <servlet-name>INSERT</servlet-name>
    <servlet-class>visitors.INSERT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>INSERT</servlet-name>
    <url-pattern>/INSERT</url-pattern>
  </servlet-mapping>
  <display-name>Apartment_Visitor_Managment_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DELETE</display-name>
    <servlet-name>DELETE</servlet-name>
    <servlet-class>visitors.DELETE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DELETE</servlet-name>
    <url-pattern>/DELETE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LIST</display-name>
    <servlet-name>LIST</servlet-name>
    <servlet-class>visitors.LIST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIST</servlet-name>
    <url-pattern>/LIST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEARCH</display-name>
    <servlet-name>SEARCH</servlet-name>
    <servlet-class>visitors.SEARCH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEARCH</servlet-name>
    <url-pattern>/SEARCH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UPDATE</display-name>
    <servlet-name>UPDATE</servlet-name>
    <servlet-class>visitors.UPDATE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPDATE</servlet-name>
    <url-pattern>/UPDATE</url-pattern>
  </servlet-mapping>
</web-app>